

<div class="center-form">

<div class="new-form">

<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div>
    <%= form.label :username, style: "display: block;" %>
    <%= form.text_field :username,  style: "display: block; border-radius: 9999px" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block;" %>
    <%= form.text_field :email, style: "display: block; border-radius: 9999px" %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password, style: "display: block; border-radius: 9999px" %>
  </div>


  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.text_field :bio, style: "display: block; border-radius: 9999px" %>
  </div>

  <div style="margin-top: .5em;", >
    <%= form.submit "Sign Up", class: "border-0 fs-4 extra-round button-style wide" %>
  </div>

  </div>
<% end %>

</div>
