<p style="color: green"><%= notice %></p>



<%= render @user %>


<% if current_user != nil && !Follow.find_by(follower_id: current_user.id, followed_id: @user.id) %>
        <%= button_to "Follow", follows_path, method: :post, params: { follow: {follower_id: current_user.id, followed_id: @user.id }} %>


<% end %>




<% if Follow.find_by(follower_id: current_user.id, followed_id: @user.id) %>
<%= button_to "UnFollow", Follow.find_by(follower_id: current_user.id, followed_id: @user.id), method: :delete %>
<% end %>

<h5 class="mt-4"> Followers:
 </h5>
 
         <% @user.followers.each do |follower|%>
         
          <p>@<%= follower.username %></p>
        <% end %>
  
  
  
  
     <% if current_user != nil && @user.id == current_user.id %>
  <div class="mt-4 mb-4">
  <%= link_to "Edit Profile", edit_user_path(@user) %>


  <%# <%= button_to "Delete account", @user, method: :delete %>
</div>

<% end %>

<% Acorn.where(user_id: @user.id).each do |acorn| %>

  <%= render acorn %>

  <% end %>
