<p style="color: green"><%= notice %></p>



<%= render @user %>



        <%= button_to "Follow", follows_path, method: :post, params: { follow: {follower_id: current_user.id, followed_id: @user.id }} %>






<p> Followers:
 </p>
 
         <% @user.followers.each do |follower|%>
         
          <p>@<%= follower.username %></p>
        <% end %>
  
  
  
  <div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

<% Acorn.where(user_id: @user.id).each do |acorn| %>

  <%= render acorn %>

  <% end %>
