<ul class="list-group">
  <li class="border-0 fs-4"> <span class="material-symbols-outlined tree p-3 mb-1">
nature
</span>Oak_Tree</li>
  <li></li>
   <% if logged_in? == false %>
    <%= link_to sign_up_path do %>
     <li><button type="button" class="border-0 fs-4 extra-round button-style wide">Sign Up</button></li>
     <% end %>
  <%= link_to login_path do %>
   <li><button type="button" class="border-0 fs-4 extra-round button-style wide">Login</button></li>
   <% end %>
   <% end %>

    <%= link_to root_path	do %><li class="list-group-item border-0 fs-4"><i class="fa-solid fa-house p-3 "></i>Home</li></a>
    <% end %>
    <a href="#"><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-solid fa-hashtag p-3"></i>Explore</li> </a>

    <% if logged_in? %>
    <a href="#"><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-regular fa-bell p-3"></i>Notifications</li></a>
    <a href="#"><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-solid fa-message p-3"></i>Messages</li></a>
     <%= link_to url_for(controller: "users", action: "show", id: session[:user_id]) do %><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-solid fa-user-secret p-3"></i>Profile</li></a>
     <% end %>
    <a href="#" class="rounded-lg"><li class="list-group-item border-0 fs-4 rounded-lg"><i class="fa-solid fa-ellipsis p-3"></i>More</li></a>
    <li></li>


    <%= link_to new_acorn_path do %>
    <li><button type="button" class="border-0 fs-4 extra-round button-style wide">Acorn</button></li>
    <% end %>
     <%= link_to login_path do %>
   <li><center><p class="fs-6 mt-3" >Log out</p></center></li>
   <% end %>
    <% end %>



    <% if logged_in? %>
    <div class="user-profile-nav">
     <div class="acorn-header">
        <%= link_to current_user do%>
          <%= image_tag url_for(current_user.profile_img), class: "profile-img" ,
            alt: "#{current_user.username}'s profile photo " %>
        
        <div class="acorn-user-info">
            <b>
              @<%= link_to current_user.username, user_path(current_user) %>
            </b>
            <% end %>
            </div>
            </div>
            <% end %>
  </ul>

