<div id="<%= dom_id acorn %>">
  <p>
    <strong>Content:</strong>
    <%= acorn.content %>
  </p>

  <p>
    <strong>Date created:</strong>
    <%= acorn.date_created %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= acorn.img %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= acorn.link %>
  </p>

  <p>
    <strong>Reply:</strong>
    <%= acorn.reply %>
  </p>

  <p>
    <strong>User:</strong>
    <%= acorn.user_id %>
  </p>

</div>
